<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="eVehicleDealership.WinUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <applicationSettings>
    <eVehicleDealership.WinUI.Properties.Settings>
      <setting name="APIUrl" serializeAs="String">
        <value>http://localhost:8080/api</value>
      </setting>
    </eVehicleDealership.WinUI.Properties.Settings>
  </applicationSettings>
  <connectionStrings>
    <clear />
    <add name="IB170073_ConnectionString" connectionString="Server=localhost,1433;Initial Catalog=170073; User ID=SA;Password=Pa55w0rd2020"
      providerName="Sql.Data.SqlClient" />
    <add name="eVehicleDealership.WinUI.Properties.Settings._170073ConnectionString"
      connectionString="Server=localhost,1433;Initial Catalog=170073; User ID=SA;Password=Pa55w0rd2020"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>